# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django database
*.sqlite3

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django migrations cache
*.log

# Environment variables
.env

# Compiled static files
staticfiles/