# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django database
*.sqlite3
db.sqlite3

# VS Code settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django migrations cache
*.log

# Environment variables
.env

# Compiled static files
media/
staticfiles/

# PostgreSQL dumps
*.sql
*.dump